<%- include('../includes/head.ejs') %>
<body>
	<%- include('../includes/navigation.ejs') %>

	<main class="container my-5" style="width: 30%">
		<% if(error.length > 0){ %>
		<div class="shadow alert alert-danger" role="alert"><%= error %></div>
		<% } %>

		<form action="/updatePassword" method="POST">
			<label class="form-label" for="password"><b>New password</b></label>
			<input
				class="form-control"
				type="password"
				name="password"
				id="password"
				required
			/>
			<label class="form-label mt-3" for="confirmPassword"
				><b>Confirm password</b></label
			>
			<input
				class="form-control"
				type="password"
				name="confirmPassword"
				id="confirmPassword"
				required
			/>
			<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
			<input type="hidden" name="userId" value="<%= userId %>" />
			<input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
			<button
				class="btn btn-primary my-3 mt-4"
				type="submit"
				style="width: 100%"
			>
				Update Password
			</button>
		</form>
	</main>
	<%- include('../includes/end.ejs') %>
</body>
