<%- include('../includes/head.ejs') %>
<body>
	<%- include('../includes/navigation.ejs') %>

	<main class="mt-3">
		<% if (prods.length>0) { %>
		<div class="container-fluid text-center">
			<div class="row gx-3 gy-3">
				<% for(let product of prods) { %>
				<div class="col col-sm-4 col-6 col-xl-3">
					<div class="rounded shadow">
						<h5 class="mt-2"><%= product.title %></h5>
						<img
							src="/<%= product.imageUrl %>"
							alt="<%= product.title %>"
							class="py-3"
							width="80%"
							height="250px"
						/>
						<b>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="15"
								height="16"
								fill="currentColor"
								class="bi bi-currency-rupee"
								viewBox="0 0 16 16"
							>
								<path
									d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"
								/>
							</svg>
							<%= product.price %>
						</b>

						<p><%= product.description %></p>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
						<a
							href="/product/<%= product._id %>"
							class="btn btn-outline-primary mb-3"
						>
							Details
						</a>
						<%- include('../includes/add-to-cart.ejs',{product: product}) %>
					</div>
				</div>
				<% } %>
			</div>
		</div>
		<% } else {%>
		<h1>No Products!</h1>
		<%}%>
	</main>
	<%- include('../includes/end.ejs') %>
</body>
